<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :userID %><br>
    <%= f.number_field :userID, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :username %><br>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :createDate %><br>
    <%= f.datetime_select :createDate, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :expiryDate %><br>
    <%= f.datetime_select :expiryDate, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :profilepic %><br>
    <%= f.file_field :profilepic, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
